.loading .blinking-dots {
  font-size: 18px;
  animation-name: blinking-dots;
  animation-duration: 1.4s;
  animation-iteration-count: infinite;
  animation-fill-mode: both;
}

.loading .blinking-dots:nth-child(2) {
  animation-delay: .2s;
}

.loading .blinking-dots:nth-child(3) {
  animation-delay: .4s;
}

@keyframes blinking-dots {
  0% {
    opacity: .2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: .2;
  }
}

#loading-container {     
  display:table;     
  border-collapse:collapse;   
  height:100%;   
  width:100%; 
}          
  #loading-layout {     
    display:table-row;     
    height:100%;   
    width:100%;   
  }            
    #loading-content {     
      display:table-cell;   
      text-align:center;  
      vertical-align:middle;     
    }            
      #loading-image {
        width: 230px;
        opacity: 1;
      }
      #loading-bg {
        width: 250px;
        height: 230px;
        position: absolute;
        display: initial;
        margin-left: -240px;
        z-index: -1;
      }

.wheel, .umbrella, .color {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 108.75px);
  top: calc(50% - 108.75px);
  width: 217.500px;
  height: 217.500px;
}

.wheel {
  overflow: hidden;
  width: 217.500px;
  height: 217.500px;
  position: relative;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 4000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 4000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 4000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.umbrella {
  position: relative;
  -webkit-filter: blur(1.7em);
  -webkit-transform: scale(1.35);
}

.color, .color:nth-child(n+7):after {
  clip: rect(0, 217.500px, 217.500px, 108.75px);
}

.color:after, .color:nth-child(n+7) {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 108.75px);
  top: calc(50% - 108.75px);
  width: 217.500px;
  height: 217.500px;
  clip: rect(0, 108.75px, 217.500px, 0);
}

.color:nth-child(1):after {
  background-color: #00F900;
  transform: rotate(30deg);
  z-index: 12;
}

.color:nth-child(2):after {
  background-color: #50B517;
  transform: rotate(60deg);
  z-index: 11;
}

.color:nth-child(3):after {
  background-color: #179067;
  transform: rotate(90deg);
  z-index: 10;
}

.color:nth-child(4):after {
  background-color: #476EAF;
  transform: rotate(120deg);
  z-index: 9;
}

.color:nth-child(5):after {
  background-color: #9f49ac;
  transform: rotate(150deg);
  z-index: 8;
}

.color:nth-child(6):after {
  background-color: #CC42A2;
  transform: rotate(180deg);
  z-index: 7;
}

.color:nth-child(7):after {
  background-color: #FF3BA7;
  transform: rotate(180deg);
}

.color:nth-child(8):after {
  background-color: #FF5800;
  transform: rotate(210deg);
}

.color:nth-child(9):after {
  background-color: #FF8100;
  transform: rotate(240deg);
}

.color:nth-child(10):after {
  background-color: #FEAC00;
  transform: rotate(270deg);
}

.color:nth-child(11):after {
  background-color: #FFCC00;
  transform: rotate(300deg);
}

.color:nth-child(12):after {
  background-color: #EDE604;
  transform: rotate(330deg);
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


