<div class="base-outer">
    <div *ngIf='_languageService.language' class="base-inner">
        <div class="login row">
            <div class="card col s10 offset-s1 m6 offset-m3 l4 offset-l4 container-bg animation-fade-in">
                <div class="container">

                    <form on-ngSubmit="onLogin()" #loginForm="ngForm">
                        <div class="row">
                            <h4 class="title-styled center-align">{{_languageService.language.loginComponent.login}}</h4>
                            <div class="input-field col s12">
                                <input name="email" email="email" id="email" type="email" [(ngModel)]="credentials.email" #email="ngModel" required>
                                <div class="alert alert-danger" [hidden]="email.valid || email.pristine">
                                    {{_languageService.language.loginComponent.emailReq}}
                                </div>
                                <label class="label-with-icon" for="email"><i class="material-icons left">email</i>{{_languageService.language.loginComponent.email}}</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input name="password" password="password" [type]="showPassword ? 'text' : 'password'" [(ngModel)]="credentials.password" #password="ngModel" required>
                                <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                                    {{_languageService.language.loginComponent.passwordReq}}
                                </div>
                                <label class="label-with-icon" for="password"><i class="material-icons left">lock</i>{{_languageService.language.loginComponent.password}}</label>
                                <div (click)='togglePasswordVisibility()' class="showhidepw">
                                    <i class="showhidepwicon fa fa-eye" [class.fa-eye]="!showPassword" [class.fa-eye-slash]="showPassword" aria-hidden="true"></i>
                                    <span>{{ showPassword ? _languageService.language.loginComponent.hidePw : _languageService.language.loginComponent.showPw }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="center">
                            <p *ngIf="error" class="center alert-text">{{_languageService.language.loginComponent.wrongEoP}}</p>
                            <div class="row">
                                <button class="btn btn-default waves-effect waves-light light-blue lighten-1" type="submit" [disabled]="!loginForm.form.valid">{{_languageService.language.loginComponent.logIn}}</button>
                            </div>
                            <div class="row">
                                <p class="center-align">{{_languageService.language.loginComponent.notReg}} <a routerLink="/signup">{{_languageService.language.loginComponent.here}}</a> {{_languageService.language.loginComponent.toRegister}}</p>
                            </div>
                        </div>
                    </form>

                    <div class="center">
                        <div class="row">
                            <div class="half-devider">
                                <div class="line"></div>
                                <p>{{_languageService.language.loginComponent.or}}</p>
                                <div class="line"></div>
                            </div>
                        </div>
                        <div class="row center social-login">
                            <button class="waves-effect waves-light btn modal-trigger blue darken-4  z-depth-0" (click)="facebook()" href="#loginfacebook">Facebook<i class="fa fa-facebook" aria-hidden="true"></i></button>
                            <button class="waves-effect waves-light btn modal-trigger red darken-2 z-depth-0" (click)="google()">Google+<i class="fa fa-google-plus" aria-hidden="true"></i></button>
                            <button class="waves-effect waves-light btn modal-trigger light-blue lighten-1 z-depth-0" (click)="twitter()" href="#logintwitter">Twitter<i class="fa fa-twitter" aria-hidden="true"></i></button>
                            <button class="waves-effect waves-light btn modal-trigger blue-grey darken-2 z-depth-0" (click)="wordpress()">Wordpress<i class="fa fa-wordpress" aria-hidden="true"></i></button>
                        </div>
                        <div class="row">
                            <p class="center-align"><a class="form-footer grey-text text-darken-4" routerLink="/terms" target="_blank">{{_languageService.language.loginComponent.terms}}</a>|
                                <a class="form-footer grey-text text-darken-4" routerLink="/lostpass">{{_languageService.language.loginComponent.lost}}</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>