<div id="changePassword" [materializeActions]="modalAction" class="modal"  materialize="closeModal" [materializeParams]="params" *ngIf='_languageService.language'>
	<div *ngIf='_languageService.language' class="modal-content container">
	<h3 class="title-styled">{{_languageService.language.changePasswordComponent.changePassword}}</h3>
		<div class="section">
			<div class="input-field">
				<input [(ngModel)]="oldPw" type="text">
				<label for="oldPw">{{_languageService.language.changePasswordComponent.oldPw}}</label>
				<div *ngIf='wrongPassword' class="alert alert-text">
					{{_languageService.language.changePasswordComponent.wrong}}
				</div>
			</div>
			<div class="input-field">
				<input [(ngModel)]="newPw" type="text">
				<label for="newPw">{{_languageService.language.changePasswordComponent.newPw}}</label>
			</div>
			<div class="input-field">
				<input [(ngModel)]="confPw" type="text">
				<label for="confPw">{{_languageService.language.changePasswordComponent.confPw}}</label>
			</div>
			
		</div>
	</div>
	
	<div class="modal-footer">
		<button class="waves-effect waves-light btn btn-flat light-blue lighten-1 white-text" (click)="changePassword(oldPw,newPw,confPw)">{{_languageService.language.changePasswordComponent.save}}</button>
	</div>
	
</div>

<a materialize="leanModal" [materializeParams]="[{dismissible: true}]" class="waves-effect waves-light btn btn-flat light-blue lighten-1 white-text modal-trigger" href="#changePassword">{{_languageService.language.editComponent.changePassword}}</a>