<div class="base-outer base-innter">
	<div id="loading-container">
		<div id="loading-layout">
			<div id="loading-content">
				<img id="loading-image" src="assets/img/logo/loading-icon.png" />
				<div id="loading-bg">
					<div class="wheel">
						<ul class="umbrella">
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
							<li class="color"></li>
						</ul>
					</div>
				</div>
				<div class="loading grey-text text-darken-2">Loading<span class="blinking-dots">.</span><span class="blinking-dots">.</span><span class="blinking-dots">.</span></div>
			</div>
		</div>
	</div>
</div>