
.button-spinner {
    width: 100%;

}

.delete-btn {
    display: flex;
    margin-right: 0px;
}

.collection img {
    max-width: 90px;
}

.filename-wrap {
    width: 100;
}
.filename {
    padding: 0 10px 0 25px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.loading-icon-small {
    width: 48px;
    height: 48px;
}