<div class="base-outer" style="background-image: url(img/bg/bg5.jpg);
	background-position-x: center;
	background-position-y: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-attachment: fixed;">
    <div *ngIf='_languageService.language' class="base-inner">
        <div class="row">
            <div class="card col s10 offset-s1 m6 offset-m3 l4 offset-l4 container-bg animation-fade-in">
                <form #lostPassForm="ngForm">
                    <div class="input-field col s12">
                        <input name="password" password="password" id="password" type="password" [(ngModel)]="newpw.newpassword" #password="ngModel"
                            required>
                        <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                            {{_languageService.language.signupComponent.passwordReq}}
                        </div>
                        <label for="password">{{_languageService.language.signupComponent.password}}</label>
                        <div *ngIf='!showPws.one' (click)='showPw(false)' class="showhidepw">
                            <i class="showhidepwicon fa fa-eye" aria-hidden="true"></i>
                            <span>{{_languageService.language.signupComponent.showPw}}</span>
                        </div>
                        <div *ngIf='showPws.one' (click)='showPw(false)' class="showhidepw">
                            <i class="showhidepwicon fa fa-eye-slash" aria-hidden="true"></i>
                            <span>{{_languageService.language.signupComponent.hidePw}}</span>
                        </div>
                    </div>
                    <div class="input-field col s12">
                        <input name="password1" password="password1" id="password1" type="password" [(ngModel)]="confirm" #password1="ngModel"
                            required>
                        <div class="alert alert-danger" [hidden]="password.valid || password.pristine">
                            {{_languageService.language.signupComponent.passwordReq}}
                        </div>
                        <label for="password1">{{_languageService.language.signupComponent.password}}</label>
                        <div *ngIf='!showPws.two' (click)='showPw(true)' class="showhidepw">
                            <i class="showhidepwicon fa fa-eye" aria-hidden="true"></i>
                            <span>{{_languageService.language.signupComponent.showPw}}</span>
                        </div>
                        <div *ngIf='showPws.two' (click)='showPw(true)' class="showhidepw">
                            <i class="showhidepwicon fa fa-eye-slash" aria-hidden="true"></i>
                            <span>{{_languageService.language.signupComponent.hidePw}}</span>
                        </div>
                    </div>
                    <button class="btn btn-default waves-effect waves-light light-blue lighten-1" (click)="reset()" type="submit" [disabled]="!lostPassForm.form.valid">{{_languageService.language.lostComponent.resetPassword}}</button>
                </form>
            </div>
        </div>
    </div>
</div>